{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "react"
    ],
    "plugins": [
        "react-hot-loader/babel",//top level variables are registered
        "transform-runtime",
        "transform-decorators-legacy",
        "add-module-exports"
    ]
}
